<ion-card >
  <ion-card-header>
    <ion-card-title>{{ item.model }}</ion-card-title>
    <ion-card-subtitle>{{ item.code }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    اللون: {{ item.color }} <br>
    الحجم: {{ item.size }}
  </ion-card-content>
  <ion-button fill="clear" color="warning" [routerLink]="'/update-item/' + item.id">تعديل</ion-button>
  <ion-button fill="clear" color="danger" (click)="deleteItem()">حذف</ion-button>
  <ion-button fill="clear" color="primery" [routerLink]="'/single-item/' + item.id">عرض</ion-button>
</ion-card>

