.login-form {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease;
}

.slideIn {
  max-height: 10000px;
  opacity: 1;
  visibility: visible;
  transition: all 1.6s ease;
}

.slideUp {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}