<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>الرئيسية</ion-list-header>
          <ion-note *ngIf="this.user">مرحبا:
            {{ this.user.username }}
          </ion-note>

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="'home'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-label>الرئيسية</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="'users'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>المستخدمين</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="'notifications'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="notifications-outline"></ion-icon>
              <ion-label>الإشعارات</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="'items'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="list-outline"></ion-icon>
              <ion-label>العناصر</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="'categories'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="file-tray-full-outline"></ion-icon>
              <ion-label>الأصناف</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="'colors'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="color-palette-outline"></ion-icon>
              <ion-label>الألوان</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
